body{
 background-color: var(--newbbg);
}

.background{
    min-height: 100vh;
    align-content: center;
    background-color: white;
    width: 73%;
    float: right;
}

.graph{
    margin-top: 60px;
    margin-left: 300px;
    min-height: 70vh;
    width: 70%;
    margin-bottom: 80px;
    background-color: white;
}

#display-user{
    padding: 10px;
    float: right;
    background-color: var(--color3);
    border: none;
    min-height: 5vh;
    color: white;
    width:45%;
    font-family: Georgia;
    font-size: 12px;
    letter-spacing: 0.10em;
    cursor:pointer;
  }

.func{
    float:right;
    margin-top: -10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#animation-send{
    width: 30%;
    margin: 30px auto;
    /* margin-right: 180px; */
}

.invite-text{
    align-items: center;
    margin-left: 200px;
    padding: 20px auto;
    min-height: 10vh;
    background-color: rgb(251, 251, 251);
    border: 2px solid;
    display: block;
    text-align: center;
    margin-top: 100px;
    border-radius: 5px;
    width: 60%;
    cursor: pointer;
}

#lets-chat{
    background-color: var(--color3);
    border: none;
    display: block;
    min-height: 8vh;
    text-align: center;
    font-weight: 600;
    width:54%;
    font-family: Georgia;
    font-size: 15px;
    letter-spacing: 0.10em;
    margin-top: 550px;
    margin-right: 250px;
    border-radius: 20px;
}

#lets-chat a{
    top:0;
    padding: 10px auto;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0.10em;
    font-weight: 700;
    font-family: 'Georgia';
    color:white;
}

/* ******************************** */
.search_input_container{
    font-size: 18px;
    outline: 0;
    width: 20%;
    margin: 5px auto;
    margin-bottom: 10px;
    padding: 7px;
    margin-left: 10px;
    min-height: 2vh;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

/* transition */
.search_input_container:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -120px;
    position: relative;
    background: var(--color3);
    transition: width 0.3s ease 0s, left 0.5s ease 0s;
    width: 0%;
  }

.search_input_container:hover:after{
    width: 100%;
    left:10;
}
.user_search_input {
    border: none;
    outline: none;
    color:black;
    background-color: inherit;
     padding: 5px;
}

/*End of search friends styles*/

/*Side list styles*/
.side_list {
    /* position: fixed; */
    background-color: var(--color2);
    left: 0px;
    top: 10px;
    height: 100vh;
    width: 25%;
    border-right: var(--color2) 1px solid;
    border-radius: 3px;
    padding: 40px 15px 15px 15px;
}

.side_list_item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--color3);
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    line-height: 2vh;
}

.side_list_title {
    color: rgb(255, 255, 255);
    margin: 15px 0;
}

.side_list_text {
    color: rgb(0, 0, 0);
    margin-left: 15px;
}

.side_list_photo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
/*End of side list styles*/

.chat {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--navColor);
    transition: 0.5s ease;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 8vh;
    margin-left: 325px;
}

.hello{
    margin-left:270px;
    min-height: 10vh;
    margin-bottom: -60px;
}

.chat input  {
    /* background-color: var(--chatBox); */
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: Georgia;
    font-size: 15px;
    color: black;
    height: 35px;
    margin-top: 5px;
    width: 80%;
    margin-left: 30px;
    padding-left: 10px;
}

#check:checked ~ .chat {
    transition: 0.47s;
    left: 240px;
}

/*********** NAV BAR **********/
.nav a{
    color:var(--linkColor);
    /* background-color: var(--color2); */
    text-decoration: none;
    letter-spacing: 0.15em;
    float: left;
    display: block;
    margin-top: -10px;
}


.nav{
    height: 20px;
    /* background-color: var(--navColor); */
    background-color: white;
    border-bottom: 3px solid var(--color2);
}

.side {
    top: -50px;
    border-top: 4px solid var(--color3);
    height: 80%;
    position: absolute;
    background-color: var(--color2);
    margin-left: 0px;
    margin-right: 30px;
    width: 200px;
    left: 0;
    background-color: var(--color2);
    padding-top: 20px;
}

.side .side-menu {
    color: var(--color2);
    font-size: 28px;
    margin-top: -200px;
    margin-left: -20px;
}

.ul{
    list-style: none;
}

.ul li a{
    color: var(--color3);
    padding: 15px;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: block;
    font-size: 18px;
    position: relative;
    /* transition: 0.3s;
    overflow: hidden; */
    /* text-transform: capitalize; */
}
.ul li a i{
    width: 80px;
    min-height: 5vh;
    font-size: 25px;
    text-align: center;
}

.ul li:hover a{
 background-color: white;

}

/* .span{
    position: absolute;
    right: -40px;
    top: 20px;
    font-size: 25px;
    border-radius: 3px;
    color: var(--fontColor);
    padding: 3px -48px;
    cursor: pointer;
    background-color: var(--bgColor);
} */

