
.pricing-card{
    border: solid;
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
    padding: 20px;
    /* margin: 40px; */
    font-size: 19px;
    width: 78%;
    height: 50vh;
    margin-right: 80px;
}

.pricing-card:hover{
    color: rgb(8, 8, 8);
    transform: scale(1.05);
    transition: transform .4s;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid rgb(105, 51, 211);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.navbar-nav {
    float: right;
    margin: -30px -280px -50px;

}
.col-md-12{
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
}

.footer{
    background-color: white;
    height: 30vh;
    width: 100%;
    margin-top: 200px;
    position: absolute;
}

.footer a{
    color: black;
}
.col-md-6{
    color: black;
}
