.profile_page_container {
    background-color: #FFFFFF;
    border-radius: 20px;
    min-height: 140vh;
    margin-top: 27px;
    width: 90%;
    column-width: 30%;

}

.title{
    color: black;
    margin-top: 70px;
}



#header{
    color: var(--title);
    font-size: 30px;
    padding: 30px;
    margin-top: 10px ;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.1rem;
    /* font-weight: 0; */
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    margin-right:25px;
    cursor: pointer;
}

#header::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 45%;
    position: absolute;
    background: var(--color3);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#header:hover::after{
    width: 10%;
    left: 60;
  }

.edit h3{
    color: var(--color3);
    margin-left: -10px;
}

#save_btn {
    margin-right: -100px;
}

.profile_page_container h2{
    color: var(--title);
    font-size: 30px;
    padding: 30px;
    margin-top: 10px ;
    margin-bottom: 30px;
    text-align: center;
}

/*left side column*/
.profile_header {
    display: flex;
    align-items: flex-start;
    color: black;
    margin-left: 40px;
    margin-top: 20px;
   font-weight: 600;
    font-size: 18px;
}

/* right side column*/
.column-2{
    float: right;
    margin-top: -250px;
    margin-right: 300px;
    padding-left: 50px;
    color: var(--title);
    border-left: solid 2px var(--color2);
}

.image_container {
    width: 120px;
    min-width: 120px;
    height: 120px;
    border-radius: 60px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.489);
}

#profile_pic{
    margin-right: 260px;
    font-size: 16px;
}
.profile_page_container p{
    color: var(--color2);
    font-weight: 500;
    font-size: 20px;

}

/* container with name and profile photo*/
.user_name {
    letter-spacing: 0.08rem;
    margin-left: -120px;
    color: black;
}

.edit{
    font-size: 18px;
    color: black;
    padding: 8px;
    margin-left: 10px;
}
hr { margin: 0}

a {
    text-decoration: none;
}

.hidden {
  /* display: none; */
  margin-left: 55px;
}

.about_input {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--hr);
  width: 100%;
  font-size: 16px;
}

.about_form {
  width: 100%;
  display: flex;
  align-items: baseline;
}



/* buttons */
.edit_bio_btn {
  background-color: var(--color2);
  color: white;
  border-radius: 18px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.05rem;
  font-family: Georgia;
  height: 40px;
  margin-top: 15px;
  width: 50%;
}

#reset_btn{
    margin-left: 300px;
    margin-right: -200px;
    background-color: var(--color2);
    color: white;
    border-radius: 18px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.05rem;
    font-family: Georgia;
    height: 40px;
    margin-top: 25px;
    width: 50%;
}

#reset_btn:hover{
    color: var(--color3);
}
.edit_bio_btn:hover {
  color: var(--color3);
}

.edit_bio_btn:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.profile_signout_btn {
    background-color: var(--linkColor);
    color: var(--title);
    border-radius: 18px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0.05rem;
    font-family: Georgia;
    height: 40px;
    margin-top: 25px;
    margin-left: 21%;
    text-align: center;
    width: 50%;
}

.profile_signout_btn:active,
.profile_signout_btn:hover,
.profile_signout_btn:focus {
  outline: 0;
}


.profile_signout_btn:active {
  background-color: var(--linkColor);
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
}

.profile_signout_btn:hover {
  background-color: var(--color3);
}

.profile_signout_btn:active:hover,
.profile_signout_btn:focus:hover,
.profile_signout_btn:focus {
  background-color: var(--linkColor);
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.delete_account{
    background-color: var(--linkColor);
    color: var(--title);
    border-radius: 18px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0.05rem;
    font-family: Georgia;
    height: 40px;
    margin-top: 25px;
    margin-left: 21%;
    text-align: center;
    width: 50%;
}

.delete_account:active,
/* .delete_account:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
} */

.delete_account:hover {
  background-color: var(--color3);

}
