.form {
    border-radius: 20px;
    box-sizing: border-box;
    width: 360px;
}

.login {
    color: var(--title);
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
    letter-spacing: 0.15rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sub {
    color: var(--title);
    letter-spacing: 0.10rem;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

.error{
    color: red;
}

/* ******************************************** */

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.forgot{
    margin-right: 130px;
    margin-top: 10px;
}

.forgot:hover{
    color: var(--linkHover);
}
.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

/*** Text input field ****/
.input {
    border: 0;
    box-sizing: border-box;
    border-bottom: 2px solid var(--color2);
    font-size: 18px;
    height: 80%;
    outline: 0;
    padding: 0px 20px 0;
    width: 100%;
    background-color: var(--newbbg);
}


.cut {
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 75px;
}

.cut-longer {
    width: 120px;
}


/***** HIDE MOVING BUBBLE ***/

.cut-shorter {
    width: 54px;
    display: none;
}

.cut-short{
    display: none;
}

.cut-longer{
    display: none;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(5px);
}

.placeholder {
    color: var(--placeholder);
    left: 20px;
    line-height: 12px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 15px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-20px) translateX(8px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: var(--title);
}

/****** OnClick bubble ******/
.input:focus~.placeholder {
    color: var(--color3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    letter-spacing: 0.10rem;
    margin: -6px auto;
}

.a-link{
    color: var(--linkColor);
    text-decoration: none;
}

.a-link:hover{
    transition: 0.3s;
    color: var(--linkHover);
    text-decoration: none;
}

.button1 {
    background-color: var(--linkColor);
    color: var(--title);
    border-radius: 18px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 0.05rem;
    font-family: Georgia;
    height: 40px;
    margin-top: 25px;
    margin-left: 21%;
    text-align: center;
    width: 50%;
}

.lowerLink{
    margin-top: 30px;
    margin-left: 20%;
}

.lowerLink:hover{
    color: var(--title);
}


/*
.center {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .button1_reset {
    background-color: var(--linkColor);
    color: var(--fontColor);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    width: 63%;
}
*/
