form {
    border-radius: 20px;
    box-sizing: border-box;
    width: 360px;
}

.title {
    color: var(--fontColor);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: var(--fontColor);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.error{
    color: red;
}

/* ******************************************** */

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: var(--inputColor);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: var(--fontColor);
    font-size: 18px;
    height: 80%;
    outline: 0;
    padding: 0px 25px 0;
    width: 100%;
}

.cut {
    background-color: var(--bgColor);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 75px;
}

.cut-longer {
    width: 120px;
}

.cut-shorter {
    width: 54px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: var(--fontColor);
    font-family: sans-serif;
    left: 20px;
    line-height: 12px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 15px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #8585dc;
}

.input:focus~.placeholder {
    color: var(--fontColor);
}

.lowerLink{
    margin-top: 40px;
    margin-left: 17%;
}
.a-link{
    color: var(--linkColor);
    text-decoration: none;
}
.a-link:hover{
    transition: 0.3s;
    color: var(--linkHover);
    text-decoration: none;
}

.button1 {
    background-color: var(--linkColor);
    color: var(--fontColor);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20%;
    text-align: center;
    width: 60%;
}

.button1:hover {
    font-size: 19px;
    color: #f0e8ea;
    margin-left: 18.5%;
    width: 63%;
    transition: 0.3s;
}
