.lorem {
    margin: 20px;
    width: 400px;
}

.list{
    width: 80px;
}
.list a{
    color: var(--linkColor);
    text-decoration: none;
    padding: 5px;
}

.list a:hover{
    transition: 0.3s;;
    color: var(--linkHover);
    text-decoration: none;
}

hr{
    background-color: var(--hr);
    margin-left: 30px;
    margin-right: 30px;
    height: 1px;
    border: none;
}
/* .tap {
    background-image: url('../css/images/taptap.gif');
    background-size:contain;
    width: 100px;
    height: 100px;
} */
